<div class="auth-container">
  <div class="auth-card">
    <h2>{{ isLoginMode ? 'Connexion Client' : 'Nouvelle Inscription' }}</h2>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label>{{ isLoginMode ? 'Code Client' : 'Nom complet' }}</label>
        <input 
          type="text" 
          formControlName="identifier" 
          [placeholder]="isLoginMode ? 'Ex: 12345678' : 'Votre nom'">
      </div>

      <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" formControlName="password">
      </div>

      <button type="submit" class="btn-primary">
        {{ isLoginMode ? 'Se connecter' : 'Créer mon compte' }}
      </button>
    </form>

    <div class="toggle-section">
      <button (click)="toggleMode()" class="btn-link">
        {{ isLoginMode ? "Pas de compte ? S'inscrire" : "Déjà client ? Se connecter" }}
      </button>
    </div>
  </div>
</div>