/* You can add global styles to this file, and also import other style files */

/* Styles pour les snackbars Angular Material */
.success-snackbar {
  background-color: #10b981 !important;
  color: white !important;
}

.success-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}

.success-snackbar .mat-mdc-button {
  color: white !important;
}

.error-snackbar {
  background-color: #ef4444 !important;
  color: white !important;
}

.error-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}

.error-snackbar .mat-mdc-button {
  color: white !important;
}

.info-snackbar {
  background-color: #3b82f6 !important;
  color: white !important;
}

.info-snackbar .mat-mdc-snack-bar-label {
  color: white !important;
}

.info-snackbar .mat-mdc-button {
  color: white !important;
}
